.header {
    padding: 20px 0;
}

.dark {
    background: black;
}

.light {
    background: white;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}